html,
body {
  background-image: linear-gradient(135deg, #716fe7, #f1ef71);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-container {
  position: absolute;
  top: 30%;
  left: 65%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#root {
  width: 100%;
  height: 80%;
  position: absolute;
   
}


h1 {
  position: relative;
  font-size: 5em;
  font-weight: 600;
  line-height: 0.7em;
  letter-spacing: 1px;
  color: #272730;
}

/* Custom select */
.custom-select {
  position: relative;
  font-family: "Inter var", sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items div:last-child {
  border-bottom: none;
}

/* When the select box is open (class "select-hide" is added to the container) */
.select-hide .select-items {
  max-height: 150px;
  overflow-y: auto;
}

/* @layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
} */
.my-canvas {
  background-image: linear-gradient(135deg, #716fe7, #f1ef71); /* Replace with your desired color */
  width: 50%; /* Set to the same value as height */
  height: 50%;
  border-radius: 25px;
  position: absolute;
  top: 5%;
}


.box{
  border-radius: 500px;
}