@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background: white;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

.dropdown-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#root {
  width: 76ch;
}

h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  font-weight: 600;
  line-height: 0.7em;
  letter-spacing: -4px;
  color: #272730;
}

/* Custom select */
.custom-select {
  position: relative;
  font-family: "Inter var", sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items div:last-child {
  border-bottom: none;
}

/* When the select box is open (class "select-hide" is added to the container) */
.select-hide .select-items {
  max-height: 150px;
  overflow-y: auto;
}
